* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
}

a {
    list-style: none;
}

:root {
    --prime: #0d6efd;
    --white: #ffffff;
    --black: #000000;
}

/* this is navbar css  */
.logo {
    color: var(--white);
}

#Nav {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background: transparent !important;
    background-color: black !important;
    opacity: 0.75;

}


nav li a {
    color: var(--white) !important;
}

.search {
    margin: 1rem;
    color: var(--white);
}

.bcolor {
    background-color: #ffffff;
    color: black;
    border: solid black 1px;
}




/* this is homepage css */
#Home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Blogging/img/bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.quote {
    color: var(--white);
    text-align: center;
    padding: 0px 200px;
    margin-top: 100px;
}

.btnex {
    border: 1px solid var(--black);
    border-radius: 0.375rem;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: var(--white);
    text-align: center;
    cursor: pointer;
    margin-top: 50px;


}


/* this is a blog css */


.blog {
    padding: 50px 30px;
    margin: 30px auto;
    /* border: 1px solid var(--black); */
    /* border-radius: .375rem; */
    /* background-color: rgb(181, 224, 253); */
}

.img {
    height: 270px;
}


.r2 {
    padding-top: 50px;
}

.r1>div {
    /* border: 1px solid grey !important; */
    border-radius: .375rem;
    padding: 10px;

}

.r2>div {
    /* border: 1px solid grey !important; */
    border-radius: .375rem;
    padding: 10px;

}